
<button (click)="mode == clickMode ? mode = hoverMode : mode = clickMode ">
  <span *ngIf="mode == clickMode"> Acitver le mode Hover</span>
  <span *ngIf="mode == hoverMode"> Acitver le mode Click</span>
</button>

<app-fab-multi-function [mode]="mode" mainIcon="save" (mainClick)="action()">
  <app-fab-action (click)="show('quitter')" label="Sauvgarder et quitter" icon="logout"/>
  <app-fab-action (click)="show('continuer')" label="Sauvgarder et continuer" icon="done"/>
  <app-fab-action (click)="show('communiquer')" label="Sauvgarder et communiquer" icon="campaign"/>
</app-fab-multi-function>
