<h1>Map-Google</h1>


  <google-map #googleMap [options]="options"
    height="500px"
    width="100%"
    >


    <map-polyline *ngFor="let poly of polyLinesToDisplay" [options]=poly></map-polyline>
    <!-- <map-polyline [optionss]=tmpLine></map-polyline> -->

    <map-marker #mapMarker="mapMarker"
                  (mapClick)="openInfoWindow(mapMarker)"
                  [position]="mapCenter">
      </map-marker>

    <map-info-window [options]="infoWindowOption">
      <div class="info-window-content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet totam quod alias officiis delectus accusantium tenetur error nemo beatae harum sunt repudiandae voluptate vitae fugiat maiores laboriosam, consectetur minus repellendus?
      </div>
    </map-info-window>

  </google-map>

<button (click)="toggleDrawControl()">Draw</button> {{drawMode}}

<label>
  <input type="radio" name="choiceAction" value="none" (change)="actionSelected = 'none'">
  none
</label>
<label>
  <input type="radio" name="choiceAction" value="line" (change)="actionSelected = 'line'">
  Line
</label>
<label>
  <input type="radio" name="choiceAction" value="marker" (change)="actionSelected = 'marker'">
  Marker
</label>

<ul>
  <li *ngFor="let p of polylinesHTML">{{ p }}</li>
</ul>
