<h1>Map-Leaflet</h1>

<div leaflet style="height: 500px;"
    leafletDraw
    [leafletOptions]="options"
    [leafletLayersControl]="optionsLayersControl"
    [leafletDrawOptions]="drawOptions"
    (leafletDrawCreated)="onDrawCreated($event)"
    (leafletDrawStart)="leafletDrawStart($event)"
    (leafletDrawStop)="leafletDrawStop($event)"
    (leafletDrawDeleted)="leafletDrawDeleted($event)"
  >

	<div [leafletLayer]="drawnItems"></div>

</div>

<ul>
  <li *ngFor="let p of polylines"> {{p.getLatLngs() | json}}</li>
</ul>
