@use "/src/styles/variables" as var;
@use "/src/styles.scss";

.fab {
  position: fixed;
  width: 54px;
  height: 54px;
  bottom: 30px;
  right: 30px;

  &_main {
    @extend .md-shadow;

    background-color: var.$tertiary-container-color;
    color: var.$on-tertiary-container-color;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    border-radius: 16px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 2;
    cursor: pointer;

    .material-icons {
      font-size: 24px;
    }
  }

  &_actions {
    display: flex;
    flex-direction: column;
    align-items: end;
    row-gap: 15px;
    position: fixed;
    bottom: 84px;
    right: 39px;
    height: 0;
    padding-bottom: 0;
  }

  app-fab-action {
    opacity: 0;
    transform: translateY(10px) scale(0);
    transform-origin: calc(100% - 20px); // icons center
  }

  &.open > &_actions {

    app-fab-action {
      animation-name: bounce-menu;
      animation-duration: 0.1s;
      animation-timing-function: ease-in-out;
      animation-fill-mode:  forwards;
    }
  }

  &.close > &_actions {
    transition: height 15s ease-out;

    app-fab-action {
      animation-name: bounce-out-menu;
      animation-duration: 0.2s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: both;
    }
  }

}

@keyframes bounce-menu{
  from {
    opacity: 0;
    transform: translateY(10px) scale(0);
  }
  to {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@keyframes bounce-out-menu{
  from {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
  to {
    opacity: 0;
    transform: translateY(10px) scale(0);
  }
}
