
<div class="fab"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
  >

  <div class="fab_main" (click)="mainClick.emit()">
    <span class="material-symbols-outlined">{{mainIcon}}</span>
  </div>

  <div class="fab_actions">
    <ng-content></ng-content>
  </div>

</div>
