<h1>AWS-Dynamodb</h1>
<p>
  <b><i>Tous ce passe en console 👇</i></b>
</p>

<p>
  Créer la table (voir le nom dans le service) <button (click)="createTable()">Create</button>
</p>

<p>
  Détails la table <button (click)="describeTable()">Detail</button>
</p>

<p>
  Supprimer la table <button (click)="deleteTable()">Delete</button>
</p>

<hr>

<p>
  Afficher toute les preferences <button (click)="show()">Show</button>
</p>

<p>
  Assigner le tableau 'bus-stop.filters' <button (click)="assignField()">Assign</button>
</p>

<p>
  Supprimer selon la clé 'bus-stop.filters' <button (click)="deleteField()">Suppr</button>
</p>

