
// THEME
$primary-color: #6750A4;
$on-primary-color: #FFFFFF;
$primary-container-color: #EADDFF;
$on-primary-container-color: #21005D;

$secondary-color: #625B71;
$on-secondary-color: #FFFFFF;
$secondary-container-color: #E8DEF8;
$on-secondary-container-color: #1D192B;

$tertiary-color: #7D5260;
$on-tertiary-color: #FFFFFF;
$tertiary-container-color: #FFD8E4;
$on-tertiary-container-color: #31111D;

$background-color: #FFFBFE;
$on-background-color: #1C1B1F;

$surface-color: #FFFBFE;
$on-surface-color: #1C1B1F;

$surface-variant-color: #E7E0EC;
$on-surface-variant-color: #49454F;

$outline-color: #79747E;
