@use "/src/styles/variables" as var;
@use "/src/styles.scss";

.fab_action {

  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  z-index: 300;
  column-gap: 10px;

  .title,
  .icon {
    @extend .md-shadow;
    cursor: pointer;
  }

  .title {
    color: black;
    font-size: 14px;
    font-family: sans-serif;
    background-color: var.$secondary-container-color;
    color: var.$on-secondary-container-color;
    padding: 10px;
    border-radius: 16px;
  }

  .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var.$primary-color;
    color: var.$on-primary-color;

  }

}

