/* You can add global styles to this file, and also import other style files */

/* Override de la position des menus */
// .gmnoprint {
//   display: flex !important;
//   flex-direction: column !important;
// }

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

.gm-style .gm-style-iw-tc::after {
  width: 0px;
}

.md-shadow {
  box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
}
